@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

a, li {
    text-decoration: none;
    color:black;
}

img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#F2F2F2;
}


/*-----------HEADER-----------*/ 

.header {
    display: flex;
    max-width: 1046px;
    min-height: 311px;
    margin: 40px auto 0px auto;
    border-radius: 12px;
    background-color: white;
}

.phofile-img {
    max-width: 272px;
    max-height: 266px;
    border-radius: 12px;
    margin: 22px 33px 22px 25px;
    border-radius: 12px;
    overflow: hidden;
}

.person-content {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.information-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.pesson-info h1 {
    font-weight: 600;
    font-size: 24px;
    color: #4F4F4F;
}

.pesson-info span {
    color:#828282;
    font-size: 18px;
}

.contat-info {
    margin-right: 20px;
    color: #4F4F4F;
    font-size: 18px;
}

.contat-info div {
    margin-bottom: 10px;
}

.contat-info div{
    display: flex;
    align-items: center;
}

.contat-info div i {
    margin-right: 18px;
}

.about-text {
    color: #828282;
    font-size: 18px;
    line-height: 22px;
}

.about-text p:first-child {
    margin-bottom: 25px;
}


@media (max-width: 750px) {
    .header {
        flex-direction: column;
    }
    .information-container {
        flex-direction: column;
        margin: 25px;
    }
    .pesson-info {
        margin-bottom: 15px;
    }
    .about-text {
        margin: 25px;
    }
}


/*------ MAIN GRID ---------*/

.principal-container {
    display: grid;
    max-width: 1046px;
    grid-template-columns:  minmax(200px, 415px) minmax(200px, 596px);
    grid-template-areas:
    "skill  blog"
    "hobbies blog"
    "hobbies experiencies";
    gap: 42px 35px;


    margin: 42px auto;
    border-radius: 12px;
}

@media (max-width:718px) {
    .principal-container {
        grid-template-columns:  minmax(200px, 415px) minmax(200px, 596px);
        grid-template-areas:
        "skill  skill"
        "blog blog"
        "hobbies hobbies"
        "experiencies experiencies";
    }
}

/*------ SKILL AREA ---------*/
.skills-container {
    grid-area: skill;
    height: 303px;
    border-radius: 12px;
    background-color: white;
}

.skills-container h2 {
    font-size: 18px;
    font-weight: 700;
    color: #4F4F4F;
    margin: 23px;
}

.list-skill li{
    font-size: 16px;
    color: #4F4F4F;
    margin:0px 0px 17px  23px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* BARRA DE PORCENTAGEM*/ 
.box-percentage {
    background-color: #C4C4C4;
    width: 237px;
    height: 9px;
    border-radius: 12px;
    margin-right: 23px;
}

.box-percentage .line-level {
    height: 100%;
    background-color: #2F80ED;
    border-radius: 12px;
}

.box-percentage  .l1 {
    width: 40%;
}

.box-percentage  .l2 {
    width: 80%;
}

.box-percentage  .l3{
    width: 80%;
}

.box-percentage  .l4 {
    width: 50%;
}

.box-percentage  .l5{
    width: 70%;
}

.box-percentage  .l6 {
    width: 60%;
}


@media (max-width:830px) {
    .box-percentage {
        width: 170px;
    }
 }



@media (max-width:718px) {
   .box-percentage {
        margin: 0 30px;
   }
}

@media (max-width:718px) {
    .box-percentage {
        margin: 0 10px;
    }
 }


/*------ BLOG CONTAINER ---------*/
.blog-container {
    grid-area: blog;
    height: 656px;
    background-color: white;
    border-radius: 12px;
}

.blog-container h2 {
    font-size: 16px;
    color: #E0E0E0;
    margin: 31px 20px;
    font-weight: 500;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-content h2 {
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    max-width: 180px;

}

.blog-img {
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
    max-width: 360px;
    max-height: 321px;
}

.blog-text {
    margin: 50px 0px 66px 22px;
}

.blog-text p{
    font-size: 16px;
    color: #828282;
    margin-bottom: 35px;
}

.blog-container a {
    color:#2F80ED;
    font-size: 16px;
    margin: 32px 20px;
}


/*------ HOBBIES CONTAINER ---------*/
.hobbies-container {
    grid-area: hobbies;
    min-height: 836px;
    background-color: white;
    border-radius: 12px;
}

.hobbies-container h2 {
    font-size: 24px;
    color: #4F4F4F;
    font-weight: 500;
    margin: 22px;
}

.hobbies-content {
    margin: 22px;
}

.hobbies-img {
    border-radius: 12px;
    overflow: hidden;
    max-width: 370px;
    max-height: 139px;
}

.hobbies-legend {
    margin:26px 0 10px 0;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
}

.hobbies-text {
    color:#828282;
    font-size: 16px;
    margin-bottom: 36px;
}

/*------ ESXPERIENCIES CONTAINER ---------*/
.experiencies-container {
    grid-area: experiencies;

    min-height: 482px;
    background-color: white;
    border-radius: 12px;
}

.experiencies-container h2{
    font-size: 24px;
    color: #4F4F4F;
    font-weight: 500;
    margin: 22px;
}

.experiencies-content {
    margin: 44px 31px;
}

.experiencies-info {
    display: flex;
    margin: 45px 0;
}

.experiencies-img {
    min-width: 120px;
    height: 84px;
    margin-right: 22px;
}

.experiencies-detail span{
    display: block;
    font-size: 14px;
    color: #828282;
    line-height: 17px;
    margin-bottom: 12px;
}

.experiencies-detail h4 {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.experiencies-detail p {
    color: #828282;
    font-size: 16px;
    line-height: 20px;
}

/*------ PROJECTS BUTTONS---------*/
.menu-projects {
    margin: 0 auto;
    max-width: 1046px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 42px;
}

.menu-projects h3 {
    padding: 22px 22px 16px 22px ;
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.buttons input{
    border-radius: 12px;
    width: 85px;
    height: 33px;
    border:1px solid #4F4F4F;
    margin: 0px 16px 22px 0px;
    font-size: 14px;
    color: #4F4F4F;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.buttons input:first-child {
    margin-left: 22px;
}

.buttons input:hover, .buttons input[data-active="true"]{
    background-color: #2F80ED;
    color: white;
    border: 1px solid #2F80ED
}


/*------ PROJECTS CONTENT---------*/

.projects-container {
    max-width: 1046px;
    display: flex;
    margin: 0 auto  150px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-content {
    max-width: 329px;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 10px;
}

.projects-content +.projects-content { 
    margin-left: 29px;
}

.project-img {
    width: 292px;
    height:217px;
    background-color: rgb(199, 199, 185);
    margin:18px 18px 24px 18px;
    border-radius: 12px;
    overflow: hidden;
}

.project-tags {
    margin-left: 18px;
    font-size: 16px;
    color: #4F4F4F;
    margin-bottom: 22px;
}

.project-tags span + span {
    margin-left: 9px;
}

.project-info {
    margin-left: 18px;
    margin-bottom: 40px;
}

.project-info h4 {
    font-size: 24px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 18px;
}

.project-info p {
    font-size: 16px;
    color: #828282;
    line-height: 20px;
}

.project-buttons {
    margin: 0px 0px 33px 18px;
}

.project-buttons  input {
    background-color: #2F80ED;
    width: 135px;
    height: 46px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    border: 1px solid #2F80ED;
    cursor: pointer;
}   

.project-buttons  input:last-of-type {
    background-color:transparent;
    color: #2F80ED;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    margin-left: 11px;
}


@media (max-width:1061px) {
    .projects-content + .projects-content  + .projects-content{
        margin-top: 30px;
    }
}

@media (max-width:703px) {
    .projects-content   + .projects-content{
        margin-top: 30px;
    }
}


/*------ FOOTER ---------*/
footer {
    width: 100%;
}

footer p {
    width: 350px;
    color: #828282;
    margin: 24px auto;
    font-size: 14px;
}

footer a {
    color: #828282;
    font-weight: 700;
    text-decoration: underline;
}